@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html {
    background-color: 584198;
	font-family: sans-serif
}

h1 {
    font-family: 'Sacramento';
    font-size: 7em;
    text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	padding-bottom: 0;
	margin-bottom: 0;
	color: white;
}

h2 {
	font-family: 'Amatic SC';
	color: white;
}

h3 {
    font-family: 'Amatic SC';
    font-size: 2.2em;
    text-align: center;
	color: 6FD3B8;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

h4 {
	font-family: 'Amatic SC';
    font-size: 1.2em;
    text-align: center;
	background-color: 6FD3B8;
	margin: auto 0;
	padding: 0;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	color: 215A6D;
}

h5 {
	margin: 0;
	padding: 0;
	font-family: 'Amatic SC';
	color: white;
}

.grid-container {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: auto auto auto;
}

.section-header {
	display: grid;
    grid-template-columns: auto;
	text-align: center;
	font-size: 2.1em;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: 7560AF;
	background-image: linear-gradient(-90deg, #6FD3B8, #A191CF);
	border-radius: 20px;
	padding: 1%;
	margin: 5%;
	margin-bottom: 3%;
	margin-top: 3%;
}

button {
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding: 30px;
    margin: 0;
    width: 100%;
	height: 200px;
    font-family: 'Amatic SC';
	font-weight: 800;
	font-size: 2.5em;
	color: 215A6D;
	line-height: 1.5;
	border:5px solid #6FD3B8;
}

button:active{
    background-color: 2D176A;
	color: white;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.profile-photo {
	width: 35%;    
    position: relative;
    overflow: hidden;
    border-radius:50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	border:7px solid #6FD3B8;
}

.random {
	width: 90%;
	height: 15%;
	margin: auto;
}

.random button {
	border-radius: 30px;
	padding-bottom: 50px;
	background-color: A191CF;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.random button:active{
    background-color: 2D176A;
}

footer {
	margin-top: 15%;
	font-size: 2.1em;
}